.main {
   
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.virsus {
    width:100%; 
    padding:20px; 
    text-align: center;
}

.rez {
    width: 80%;
}

.pvz  {
    width: 100%;
} 


button {
    height:25px; 
    border-style: none; 
    background-color: grey;
    color: white; 
    font-weight: bold;
}

button:hover {
    background-color: rgb(37, 37, 35);
}
 
input:active {
    color: black;
}